{% extends 'index.html' %}


{% block title %}
Restaurants
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='restaurants.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid custom-container">
    <div class="row justify-content-between align-items-center">
      <div class="col col-lg-2">
        <h1 class="display-6" id="logo" style="white-space: nowrap">
            <a href="/" style="color:inherit; text-decoration: none;">Smart Warehouse</a>
        </h1>
      </div>
      <div class="col-md-auto">
        <a href="/users/{{username}}/profile" style="color:inherit; text-decoration: none;">
            <svg id="icon" xmlns="{{url_for('static',filename='person-circle.svg')}}" width="40" height="40" fill="currentColor"
                class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
        </a>
      </div>
    </div>
  </div>
<br>

<h2 id="welcome"> Welcome {{username}}</h2><br><br>

<div id="grid" class="row row-cols-1 row-cols-md-2 g-4">
    {% for _ in restaurants %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{_.name}}</h5>
                <p class="card-text">Partita Iva: {{_.p_iva}}<br><br>Address: {{locations[(_.p_iva,_.name)]}}</p><br>
                <a href="{{_.number}}" class="btn btn-primary" style="
                    margin: 0 auto;
                    display: block;">Enter
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br><br>
<p style="margin-left:3%; font-weight: bold;">Insert new restaurants:    <a href="/users/{{username}}/restaurants/insertion" class="btn btn-primary">Insert
</a></p>
{% endblock %}